@use "../../styles/common" as *;
@use "../../styles/var" as *;

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 10px 21.25px 3.75px;



    .nav {
        display: grid;
        grid-template-columns: 1fr auto 3fr;
        align-items: center;
        position: relative;
        z-index: 2;


        @media(max-width:$xl) {
            grid-template-columns: 1fr 2fr;

            .btns {
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 10px;
            }
        }


        .logo {
            img {
                width: 160px;
                height: auto;

                @media(max-width:$md) {
                    width: 110px;
                }
            }
        }

        .menu {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: start;

            @media(max-width:$xl) {
                flex-direction: column;
                position: absolute;
                top: 0;
                right: 0;
                background: #fff;
                box-shadow: rgba(0, 0, 0, 0.06) 0px 10px 21.25px 3.75px;
                align-items: flex-start;
                padding: 15px 5px;
                opacity: 0;
                visibility: hidden;
                transition: 0.25s ease;

                li {
                    width: 100%;
                }
            }

            .navItem {
                padding: 10px 15px;

                .navLink {
                    text-decoration: none;
                    color: $color_five;
                    font-weight: 500;
                }

                .active {
                    color: $secondary;
                }
            }
        }

        .btns {
            display: flex;
            justify-content: end;




            a {
                font-size: 16px;
                color: #fff;
                padding: 14px 26px;
                border-radius: 8px;
                text-decoration: none;
                font-weight: 500;

                @media(max-width:$lg) {
                    font-size: 14px;
                    padding: 10px 14px;
                    border-radius: 10px;
                }
            }

            .Appointment {
                background: linear-gradient(300deg, $primary, $color_three);

                @media(max-width:$lg) {
                    display: none
                }
            }

            .Contact {
                color: #000000;
                background: #ffffff;
            }
        }

        .show {

            @media(max-width:$xl) {
                opacity: 1;
                visibility: visible;
                top: 40px;
            }
        }
    }



    .hamMenu {
        display: none;
        text-align: end;

        @media(max-width:$xl) {
            display: block;
        }

        svg {
            font-size: 22px;
        }
    }
}