@use '../../styles/common' as *;
@use '../../styles/var' as *;

.bookAppointment {
    position: relative;
    padding: 60px 0;

    @media(max-width:$lg) {
        padding: 50px 0;
    }

    @media(max-width:$md) {
        padding: 40px 0;
    }

    @media(max-width:$sm) {
        padding: 30px 0;
    }

    .wrap {
        position: relative;
        z-index: 1;



        .rowWrapper {
            display: flex;
            flex-direction: column;
            gap: 70px;
        }

        .row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
            align-items: center;

            @media(max-width:$lg) {
                grid-template-columns: 1fr;
                gap: 30px;

            }

            .appointmentForm {
                border-radius: 16px;
                padding: 30px;
                box-shadow: 0 25px 50px 0 #ddd;
                border: 1px solid #F3F4F6;

                h3 {
                    font-size: 24px;
                    font-weight: 700;
                    margin-bottom: 20px;
                    line-height: 1.1;
                    text-align: center;


                    span {
                        color: $primary;
                    }
                }

                .desc {
                    color: $color_five;
                    margin: 20px 0;

                    @media(max-width:$md) {
                        margin: 10px 0;
                    }
                }



                .formWrapper {
                    .form {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        @media(max-width:$md) {

                            gap: 10px;
                        }

                        .field {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;

                            label {
                                font-size: 16px;
                            }

                            input {
                                border: 1px solid #D1D5DB;
                                border-radius: 12px;
                                height: 50px;
                                padding: 5px 15px;
                                width: 100%;
                            }

                            select {
                                border: 1px solid #D1D5DB;
                                border-radius: 12px;
                                height: 50px;
                                padding: 5px 15px;
                                width: 100%;
                            }

                            textarea {
                                border: 1px solid #D1D5DB;
                                border-radius: 12px;
                                height: 150px;
                                padding: 15px;
                                width: 100%;
                            }


                        }

                        .btn {
                            button {
                                height: 60px;
                                text-align: center;
                                color: #fff;
                                background: linear-gradient(300deg, $primary, $color_three);
                                width: 100%;
                                border-radius: 12px;
                                border: none;
                            }
                        }

                        h6 {
                            text-align: center;
                        }
                    }
                }
            }
        }


        .content {
            .icon {
                background: $color_six;
                border-radius: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $primary;
                font-size: 18px;
                width: fit-content;
                padding: 8px 20px;

                svg {
                    margin-right: 10px;
                }


            }

            h2 {
                font-size: 40px;
                font-weight: 800;
                line-height: 1.1;
                margin: 20px 0;

                @media(max-width:$sm) {
                    font-size: 28px;
                }

                span {
                    color: $primary;
                }
            }

            .desc {
                color: $color_five;
                margin: 20px 0;
                font-size: 18px;

                @media(max-width:$md) {
                    margin: 10px 0;
                }
            }

            ul {
                list-style: none;
                padding-bottom: 20px;
                display: flex;
                flex-direction: column;
                gap: 15px;



                li {
                    display: flex;
                    gap: 10px;
                    text-align: left;

                    svg {
                        font-size: 24px;
                        color: $secondary;
                    }

                    div {
                        flex: 1;
                    }

                    h4 {
                        font-size: 16px;
                        font-weight: 700;
                        margin-bottom: 0px;
                    }

                    p {
                        color: $color_five;
                        margin: 0;
                    }
                }
            }

            .review {
                padding-top: 20px;

                .card {
                    background: $color_six;
                    padding: 20px;
                    border-radius: 10px;

                    .header {
                        display: flex;
                        gap: 20px;

                        img {
                            width: 50px;
                            height: 50px;
                        }

                        .rating {
                            color: $secondary;
                            font-size: 18px;
                        }

                        p {
                            margin: 0;
                            font-style: italic;
                        }

                        h3 {
                            font-size: 16px;
                            font-weight: 700;
                            margin-top: 20px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}