@import '../../styles/common';
@import '../../styles/var';

.clients {
    padding: 80px 0;
    background: $color_six;

    @media(max-width:$xl) {
        padding: 60px 0;
    }

    @media(max-width:$lg) {
        padding: 50px 0;
    }

    @media(max-width:$md) {
        padding: 40px 0;
    }

    @media(max-width:$sm) {
        padding: 30px 0;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 24px;

        @media(max-width:$xl) {
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        }

        .col {
            padding: 25px;
            background: #fff;
            border-radius: 12px;
            text-align: center;
            border: 1px solid #F3F4F6;

            .image {
                img {
                    width: 100%;
                    object-fit: contain;
                    border-radius: 12px;
                    aspect-ratio: 1/1;
                }
            }

            h3 {
                margin: 10px 0;
                font-size: 24px;
                font-weight: 700;
            }

            p {
                color: $color_five;
                margin: 0;
            }
        }

    }
}