@use '../styles/var' as *;

.main {
    padding-top: 60px;

    @media(max-width:$md) {
        padding-top: 40px;
    }
}

.head {
    padding-bottom: 30px;
    text-align: center;
    max-width: 800px;
    margin: auto;

    @media(max-width:$sm) {
        padding-bottom: 20px;
    }

    h2 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 0px;
        line-height: 1.1;

        @media(max-width:$lg) {
            font-size: 38px;
        }

        @media(max-width:$sm) {
            font-size: 28px;
        }
    }

    p {
        font-size: 20px;
        color: $color_five;
        margin: 0;

        @media(max-width:$lg) {
            font-size: 18px;
        }

        @media(max-width:$sm) {
            font-size: 16px;
        }
    }
}