@use '../styles/var' as *;

.main {
    padding-top: 60px;

    @media(max-width:$md) {
        padding-top: 40px;
    }
}

.head {
    padding-bottom: 30px;
    text-align: center;
    max-width: 800px;
    margin: auto;

    @media(max-width:$sm) {
        padding-bottom: 20px;
    }

    .title {
        padding: 7px 14px;
        background: #CED6FF;
        color: $primary;
        width: fit-content;
        border-radius: 40px;
        margin: auto;

        svg {
            color: $primary;
            font-size: 18px;
            margin-right: 5px;
        }
    }

    h2 {
        font-size: 36px;
        font-weight: 800;
        margin: 10px 0;
        line-height: 1.1;



        @media(max-width:$sm) {
            font-size: 28px;
        }
    }

    .desc {
        font-size: 20px;
        color: $color_five;
        margin: 0;

        @media(max-width:$lg) {
            font-size: 18px;
        }

        @media(max-width:$sm) {
            font-size: 16px;
        }
    }
}