$primary: #000089;
$secondary: #FF5B15;
$color_three: #5215B6;
$color_four: #FEA152;
$color_five: #555555;
$color_six: #F9F9F9;
$font_one: "Poppins", sans-serif;

$xxxl: 1759px;
$xxl: 1399px;
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;