@use "./var" as *;
@use "./common" as *;



.banner {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(300deg, #FAF5FF, #FFFFFF, #FFF7ED);

    }

    .wrap {
        padding: 50px 0;
        position: relative;
        z-index: 1;

        .row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
            align-items: center;

            @media(max-width:$md) {
                grid-template-columns: 1fr;
                gap: 30px;
                text-align: center;
            }

            .image {
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 30px;
                }
            }
        }


        .content {

            h1 {
                font-size: 60px;
                font-weight: 700;
                line-height: 60px;

                @media(max-width:$xl) {
                    font-size: 50px;
                    line-height: 50px;
                }

                @media(max-width:$lg) {
                    font-size: 40px;
                    line-height: 45px;
                }

                @media(max-width:$sm) {
                    font-size: 30px;
                    line-height: 35px;
                }

                span {
                    color: $primary;
                }
            }

            .desc {
                color: $color_five;
                margin: 30px 0;

                @media(max-width:$xl) {
                    margin: 20px 0;
                }

                @media(max-width:$md) {
                    margin: 10px 0;
                }
            }

            .btns {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;

                @media(max-width:$md) {
                    justify-content: center;
                }

                a {
                    font-size: 18px;
                    color: #fff;
                    padding: 18px 32px;
                    border-radius: 15px;
                    box-shadow: 0 0 30px 0 #5315b644;
                    text-decoration: none;
                    font-weight: 500;

                    @media(max-width:$lg) {
                        font-size: 16px;
                        padding: 14px 24px;
                        border-radius: 10px;
                    }
                }

                .download {
                    background: linear-gradient(300deg, $primary, $color_three);
                }

                .merchant {
                    background: #000;
                }
            }

            .stats {
                display: flex;
                gap: 20px;
                padding-top: 40px;

                @media(max-width:$md) {
                    justify-content: center;
                }

                .col {
                    border-right: 1px solid $primary;
                    padding-right: 20px;
                    text-align: center;

                    &:nth-last-child(1) {
                        border-right: none;
                        padding-right: 0;
                    }

                    h3 {
                        font-weight: 700;
                        color: $primary;
                        margin-bottom: 0px;
                    }

                    p {
                        color: $color_five;
                        font-weight: 500;
                        margin: 0;
                    }

                    &:nth-child(2) {
                        h3 {
                            color: $secondary;
                        }
                    }
                }
            }


        }
    }
}

.features {
    padding: 70px 0;

    @media(max-width:$xl) {
        padding: 60px 0;
    }

    @media(max-width:$lg) {
        padding: 50px 0;
    }

    @media(max-width:$md) {
        padding: 40px 0;
    }

    @media(max-width:$sm) {
        padding: 30px 0;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 24px;

        .col {
            padding: 33px;
            background: $color_six;
            border-radius: 16px;

            @media(max-width:$sm) {
                text-align: center;
                padding: 25px;
            }

            .icon {
                background: linear-gradient(300deg, $primary, $color_three);
                border-radius: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 64px;
                height: 64px;
                color: #fff;
                font-size: 24px;
                box-shadow: 0 0 30px 0 #5315b644;

                @media(max-width:$sm) {
                    border-radius: 10px;
                    width: 50px;
                    height: 50px;
                    font-size: 20px;
                    margin: auto;
                }
            }

            h3 {
                margin: 18px 0;
                font-size: 24px;
                font-weight: 700;

                @media(max-width:$sm) {
                    margin: 14px 0;
                    font-size: 20px;
                }
            }

            p {
                color: $color_five;
                margin: 0;
            }
        }

    }
}

.works {
    padding: 80px 0;
    background: $color_six;

    @media(max-width:$xl) {
        padding: 60px 0;
    }

    @media(max-width:$lg) {
        padding: 50px 0;
    }

    @media(max-width:$md) {
        padding: 40px 0;
    }

    @media(max-width:$sm) {
        padding: 30px 0;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 24px;

        .col {
            padding: 33px;
            background: #fff;
            border-radius: 16px;
            text-align: center;

            .image {
                img {
                    height: 200px;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 12px;
                }
            }

            h3 {
                margin: 10px 0;
                font-size: 24px;
                font-weight: 700;
            }

            p {
                color: $color_five;
                margin: 0;
            }
        }

    }
}

.solution {
    position: relative;

    .wrap {
        padding: 50px 0;
        position: relative;
        z-index: 1;



        @media(max-width:$sm) {
            padding: 30px 0;
        }

        .row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
            align-items: center;

            @media(max-width:$md) {
                grid-template-columns: 1fr;
                gap: 30px;
                text-align: center;
            }

            .image {
                padding: 50px;
                position: relative;

                @media(max-width:$sm) {
                    padding: 20px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(300deg, $color_three, $secondary);
                    border: 1px solid $primary;
                    border-radius: 100%;
                    opacity: 0.5;
                }

                img {
                    width: 100%;
                    height: auto;
                    position: relative;
                    z-index: 1;
                }
            }
        }


        .content {

            h2 {
                font-size: 48px;
                font-weight: 700;

                line-height: 1.1;

                @media(max-width:$lg) {
                    font-size: 38px;
                }

                @media(max-width:$sm) {
                    font-size: 28px;
                }

                span {
                    color: $primary;
                }
            }

            .desc {
                color: $color_five;
                margin: 20px 0;

                @media(max-width:$md) {
                    margin: 10px 0;
                }
            }

            .btns {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;

                @media(max-width:$md) {
                    justify-content: center;
                }

                a {
                    font-size: 18px;
                    color: #fff;
                    padding: 18px 32px;
                    border-radius: 15px;
                    box-shadow: 0 0 30px 0 #5315b644;
                    text-decoration: none;
                    font-weight: 500;

                    @media(max-width:$lg) {
                        font-size: 16px;
                        padding: 14px 24px;
                        border-radius: 10px;
                    }
                }

                .download {
                    background: linear-gradient(300deg, $primary, $color_three);
                }

                .merchant {
                    background: #000;
                }
            }

            ul {
                list-style: none;
                padding-bottom: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                @media(max-width:$md) {
                    align-items: center;
                }

                @media(max-width:$sm) {
                    align-items: start;
                }

                li {
                    display: flex;
                    gap: 10px;
                    text-align: left;

                    svg {
                        font-size: 24px;
                        color: $secondary;
                    }

                    span {
                        color: $color_five;
                        flex: 1;
                    }
                }
            }


        }
    }
}

.security {
    padding: 80px 0;
    background: $color_six;

    @media(max-width:$xl) {
        padding: 60px 0;
    }

    @media(max-width:$lg) {
        padding: 50px 0;
    }

    @media(max-width:$md) {
        padding: 40px 0;
    }

    @media(max-width:$sm) {
        padding: 30px 0;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 24px;

        .col {
            padding: 33px;
            background: #fff;
            border-radius: 16px;

            @media(max-width:$sm) {
                text-align: center;
                padding: 25px;
            }

            .icon {
                background: linear-gradient(300deg, $primary, $color_three);
                border-radius: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 64px;
                height: 64px;
                color: #fff;
                font-size: 24px;
                box-shadow: 0 0 30px 0 #5315b644;

                @media(max-width:$sm) {
                    border-radius: 10px;
                    width: 50px;
                    height: 50px;
                    font-size: 20px;
                    margin: auto;
                }
            }

            h3 {
                margin: 18px 0;
                font-size: 24px;
                font-weight: 700;

                @media(max-width:$sm) {
                    margin: 14px 0;
                    font-size: 20px;
                }
            }

            p {
                color: $color_five;
                margin: 0;
            }
        }
    }
}