@import '../../styles/common';
@import '../../styles/var';

.getApp {
    padding: 80px 0;
    background: linear-gradient(300deg, $primary, $color_three);

    @media(max-width:$xl) {
        padding: 60px 0;
    }

    @media(max-width:$lg) {
        padding: 50px 0;
    }

    @media(max-width:$md) {
        padding: 40px 0;
    }

    @media(max-width:$sm) {
        padding: 30px 0;
    }

    .wrapper {
        .text {
            text-align: center;

            h2 {
                font-size: 48px;
                color: #fff;
                font-weight: 700;

                @media(max-width:$lg) {
                    font-size: 38px;
                }

                @media(max-width:$sm) {
                    font-size: 28px;
                    line-height: 35px;
                }
            }

            p {
                font-size: 20px;
                color: #fff;
                margin: 0;

                @media(max-width:$lg) {
                    font-size: 18px;
                }
            }


        }

        .getStarted {
            text-align: center;
            padding: 20px;

            a {
                padding: 15px 33px;
                border-radius: 12px;
                background: #fff;
                color: $primary;
                text-decoration: none;
                font-weight: 500;
                display: inline-block;
                font-size: 18px;

                @media(max-width:$sm) {
                    padding: 12px 26px;
                    border-radius: 10px;
                }
            }
        }

        .btns {
            display: flex;
            justify-content: center;
            gap: 10px;

            a {
                display: flex;
                gap: 10px;
                background: #000;
                padding: 15px 20px;
                border-radius: 10px;
                text-decoration: none;

                @media(max-width:$sm) {
                    padding: 10px 15px;
                    border-radius: 8px;
                }

                img {
                    @media(max-width:$sm) {
                        width: 20px;
                        height: auto;
                    }
                }

                h6 {
                    color: #fff;
                    font-weight: 400;
                    font-size: 12px;
                    margin: 0;

                    @media(max-width:$sm) {
                        font-size: 10px;
                    }

                    span {
                        display: block;
                        font-size: 18px;
                        font-weight: 600;

                        @media(max-width:$sm) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }


}