@use "../../styles/var" as *;
@use "../../styles/common" as *;



.banner {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(300deg, #FAF5FF, #FFFFFF, #FFF7ED);

    }

    .wrap {
        padding: 50px 0;
        position: relative;
        z-index: 1;



        .content {

            h1 {
                font-size: 60px;
                font-weight: 700;
                line-height: 60px;
                text-align: center;

                @media(max-width:$xl) {
                    font-size: 50px;
                    line-height: 50px;
                }

                @media(max-width:$lg) {
                    font-size: 40px;
                    line-height: 45px;
                }

                @media(max-width:$sm) {
                    font-size: 30px;
                    line-height: 35px;
                }

                span {
                    color: $primary;
                }
            }

            .icon {
                margin: auto;
                margin-bottom: 20px;
                width: 100px;
                height: 100px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $primary;
                box-shadow: 0 0 15px 0 #ddd;
                font-size: 40px;
            }
        }
    }
}

.topics {
    padding: 70px 0;

    @media(max-width:$xl) {
        padding: 60px 0;
    }

    @media(max-width:$lg) {
        padding: 50px 0;
    }

    @media(max-width:$md) {
        padding: 40px 0;
    }

    @media(max-width:$sm) {
        padding: 30px 0;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        gap: 24px;

        @media(max-width:$xl) {
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        }


        .col {
            padding: 33px;
            background: $color_six;
            border-radius: 16px;

            @media(max-width:$sm) {
                text-align: center;
                padding: 25px;
            }

            .icon {
                background: linear-gradient(300deg, $primary, $color_three);
                border-radius: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 64px;
                height: 64px;
                color: #fff;
                font-size: 24px;
                box-shadow: 0 0 30px 0 #5315b644;

                @media(max-width:$sm) {
                    border-radius: 10px;
                    width: 50px;
                    height: 50px;
                    font-size: 20px;
                    margin: auto;
                }
            }

            h3 {
                margin: 18px 0;
                font-size: 24px;
                font-weight: 700;

                @media(max-width:$sm) {
                    margin: 14px 0;
                    font-size: 20px;
                }
            }

            p {
                color: $color_five;
                margin: 0;
            }
        }

    }
}

.help {
    padding: 80px 0;
    background: linear-gradient(300deg, #FAF5FF, #ece9e9, #FFF7ED);

    @media(max-width:$xl) {
        padding: 60px 0;
    }

    @media(max-width:$lg) {
        padding: 50px 0;
    }

    @media(max-width:$md) {
        padding: 40px 0;
    }

    @media(max-width:$sm) {
        padding: 30px 0;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 24px;

        .col {
            padding: 33px;
            background: #fff;
            border-radius: 16px;
            text-align: center;

            &:nth-child(1) {
                .icon {
                    background: linear-gradient(300deg, $secondary, $color_four);
                }

                .btn {
                    background: linear-gradient(300deg, $secondary, $color_four);
                }
            }

            &:nth-child(2) {
                .icon {
                    background: linear-gradient(300deg, $primary, $color_three);
                }

                .btn {
                    background: linear-gradient(300deg, $primary, $color_three);
                }
            }

            &:nth-child(3) {
                .icon {
                    background: linear-gradient(300deg, $secondary, $color_four);
                }

                .btn {
                    background: linear-gradient(300deg, $secondary, $color_four);
                }
            }

            .icon {
                margin: auto;
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 100%;

                svg {
                    color: #fff;
                    font-size: 24px;
                }
            }

            h3 {
                margin: 10px 0;
                font-size: 24px;
                font-weight: 700;
            }

            .des {
                color: $color_five;
                margin: 0;
            }

            .contact {
                font-weight: 600;
                margin: 20px 0;
            }

            .btn {
                text-decoration: none;
                padding: 15px 30px;
                border-radius: 100px;
                color: #fff;
                display: inline-block;
            }
        }

    }
}

.helpful {
    padding: 70px 0;

    @media(max-width:$xl) {
        padding: 60px 0;
    }

    @media(max-width:$lg) {
        padding: 50px 0;
    }

    @media(max-width:$md) {
        padding: 40px 0;
    }

    @media(max-width:$sm) {
        padding: 30px 0;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        gap: 24px;

        @media(max-width:$xl) {
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        }

        .col {
            padding: 33px;
            background: $color_six;
            border-radius: 16px;

            @media(max-width:$sm) {
                text-align: center;
                padding: 25px;
            }

            &:nth-child(3n + 1) {
                .icon {
                    background: linear-gradient(300deg, $secondary, $color_four);
                }
            }

            &:nth-child(3n + 2) {
                .icon {
                    background: linear-gradient(300deg, $secondary, $color_three);
                }
            }

            .icon {
                background: linear-gradient(300deg, $primary, $color_three);
                border-radius: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 30px 20px;
                color: #fff;
                font-size: 40px;
                box-shadow: 0 0 30px 0 #5315b644;

                @media(max-width:$sm) {
                    border-radius: 10px;
                    width: 50px;
                    height: 50px;
                    font-size: 30px;
                    margin: auto;
                }
            }

            h3 {
                margin: 14px 0;
                font-size: 20px;
                font-weight: 700;

                @media(max-width:$sm) {
                    margin: 10px 0;
                    font-size: 16px;
                }
            }

            p {
                color: $color_five;

            }

            .btn {
                text-decoration: none;
                color: #000;
                display: inline-block;
            }
        }

    }
}

.support {
    position: relative;


    .wrap {
        padding: 50px 0;
        position: relative;
        z-index: 1;



        @media(max-width:$sm) {
            padding: 30px 0;
        }

        .row {
            background: linear-gradient(300deg, #F9F9F9, #FAF5FF);
            padding: 50px;
            border-radius: 30px;

            .head {
                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    width: 80px;
                    height: 80px;
                    border-radius: 10px;
                    background: linear-gradient(300deg, $primary, $color_three);
                    color: #ffff;
                    font-size: 30px;
                }
            }
        }

        .content {

            ul {
                list-style: none;
                padding-bottom: 20px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
                gap: 20px;

                @media(max-width:$md) {
                    align-items: center;
                }

                @media(max-width:$sm) {
                    align-items: start;
                }

                li {
                    display: flex;
                    gap: 10px;
                    text-align: left;
                    background: #fff;
                    padding: 20px;
                    box-shadow: 0 0 15px 0 #ddd;
                    border-radius: 15px;

                    svg {
                        font-size: 24px;
                        color: $secondary;
                    }

                    h3 {
                        font-size: 16px;
                        color: $color_five;
                        font-weight: 700;
                        flex: 1;
                        margin: 0;
                    }

                    p {
                        font-size: 14px;
                        color: $color_five;

                        margin: 0;
                    }
                }
            }


        }
    }
}