@use "../../styles/var" as *;
@use "../../styles/common" as *;



.banner {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(300deg, #FAF5FF, #FFFFFF, #FFF7ED);

    }

    .wrap {
        padding: 50px 0;
        position: relative;
        z-index: 1;

        .row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
            align-items: center;

            @media(max-width:$md) {
                grid-template-columns: 1fr;
                gap: 30px;
                text-align: center;
            }

            .image {
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 30px;
                    box-shadow: 0 0 15px 0 #ddd;
                }
            }
        }


        .content {

            h1 {
                font-size: 60px;
                font-weight: 700;
                line-height: 60px;

                @media(max-width:$xl) {
                    font-size: 50px;
                    line-height: 50px;
                }

                @media(max-width:$lg) {
                    font-size: 40px;
                    line-height: 45px;
                }

                @media(max-width:$sm) {
                    font-size: 30px;
                    line-height: 35px;
                }

                span {
                    color: $primary;
                }
            }

            .desc {
                color: $color_five;
                margin: 30px 0;

                @media(max-width:$xl) {
                    margin: 20px 0;
                }

                @media(max-width:$md) {
                    margin: 10px 0;
                }
            }

        }
    }
}

.assistance {
    padding: 70px 0;

    @media(max-width:$xl) {
        padding: 60px 0;
    }

    @media(max-width:$lg) {
        padding: 50px 0;
    }

    @media(max-width:$md) {
        padding: 40px 0;
    }

    @media(max-width:$sm) {
        padding: 30px 0;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 24px;

        .col {
            padding: 33px;
            background: $color_six;
            border-radius: 16px;

            @media(max-width:$sm) {
                text-align: center;
                padding: 25px;
            }

            &:nth-child(2n + 1) {
                .icon {
                    background: linear-gradient(300deg, $secondary, $color_four);
                }
            }

            &:nth-child(2n + 2) {
                .icon {
                    background: linear-gradient(300deg, $primary, $color_three);
                }
            }

            .icon {
                border-radius: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 64px;
                height: 64px;
                color: #fff;
                font-size: 24px;

                @media(max-width:$sm) {
                    border-radius: 10px;
                    width: 50px;
                    height: 50px;
                    font-size: 20px;
                    margin: auto;
                }
            }

            h3 {
                margin: 18px 0;
                font-size: 24px;
                font-weight: 700;

                @media(max-width:$sm) {
                    margin: 14px 0;
                    font-size: 20px;
                }
            }

            p {
                color: $color_five;
            }

            a {
                text-decoration: none;
                color: $primary;
                display: inline-block;
                font-weight: 700;
            }
        }

    }
}

.message {
    position: relative;
    background: linear-gradient(300deg, #FAF5FF, #FFF7ED);

    .wrap {
        padding: 50px 0;
        position: relative;
        z-index: 1;



        @media(max-width:$sm) {
            padding: 30px 0;
        }

        .row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
            align-items: center;

            @media(max-width:$md) {
                grid-template-columns: 1fr;
                gap: 30px;
            }

            .image {

                position: relative;



                img {
                    width: 100%;
                    height: auto;
                    position: relative;
                    z-index: 1;
                    border-radius: 20px;
                    box-shadow: 0 0 15px 0 #ddd;
                }
            }
        }


        .content {

            h2 {
                font-size: 48px;
                font-weight: 700;

                line-height: 1.1;

                @media(max-width:$lg) {
                    font-size: 38px;
                }

                @media(max-width:$sm) {
                    font-size: 28px;
                }

                span {
                    color: $primary;
                }
            }

            .desc {
                color: $color_five;
                margin: 20px 0;

                @media(max-width:$md) {
                    margin: 10px 0;
                }
            }



            .formWrapper {
                .form {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    @media(max-width:$md) {
                        background: #fff;
                        border-radius: 15px;
                        padding: 20px;
                        gap: 10px;
                    }

                    .field {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        label {
                            font-size: 16px;
                        }

                        input {
                            border: 1px solid #E5E7EB;
                            border-radius: 12px;
                            height: 50px;
                            padding: 5px 15px;
                        }

                        select {
                            border: 1px solid #E5E7EB;
                            border-radius: 12px;
                            height: 50px;
                            padding: 5px 15px;
                        }

                        textarea {
                            border: 1px solid #E5E7EB;
                            border-radius: 12px;
                            height: 150px;
                            padding: 15px;
                        }


                    }

                    .btn {
                        button {
                            height: 50px;
                            text-align: center;
                            color: #fff;
                            background: linear-gradient(300deg, $primary, $color_three);
                            width: 100%;
                            border-radius: 12px;
                        }
                    }
                }
            }
        }
    }
}



.offices {
    padding: 70px 0;

    @media(max-width:$xl) {
        padding: 60px 0;
    }

    @media(max-width:$lg) {
        padding: 50px 0;
    }

    @media(max-width:$md) {
        padding: 40px 0;
    }

    @media(max-width:$sm) {
        padding: 30px 0;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 24px;

        .col {
            padding: 33px;
            background: $color_six;
            border-radius: 16px;

            @media(max-width:$sm) {
                text-align: center;
                padding: 25px;
            }

            .icon {
                background: linear-gradient(300deg, $primary, $color_three);
                border-radius: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 64px;
                height: 64px;
                color: #fff;
                font-size: 24px;
                box-shadow: 0 0 30px 0 #5315b644;

                @media(max-width:$sm) {
                    border-radius: 10px;
                    width: 50px;
                    height: 50px;
                    font-size: 20px;
                    margin: auto;
                }
            }

            h3 {
                margin: 18px 0;
                font-size: 24px;
                font-weight: 700;

                @media(max-width:$sm) {
                    margin: 14px 0;
                    font-size: 20px;
                }
            }

            p {
                color: $color_five;
                margin: 0;
            }
        }

    }
}