@import '../../styles/common';
@import '../../styles/var';

.stats {
    padding: 70px 0;

    @media(max-width:$xl) {
        padding: 60px 0;
    }

    @media(max-width:$lg) {
        padding: 50px 0;
    }

    @media(max-width:$md) {
        padding: 40px 0;
    }

    @media(max-width:$sm) {
        padding: 30px 0;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 24px;

        @media(max-width:$xl) {
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        }

        @media(max-width:$md) {
            gap: 14px;
        }

        .col {
            padding: 33px;
            border-radius: 16px;
            border: 1px solid #F3F4F6;

            text-align: center;

            @media(max-width:$lg) {
                padding: 25px;
            }

            .icon {
                background: $color_six;
                border-radius: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60px;
                height: 60px;
                color: $primary;
                font-size: 24px;
                margin: auto;

                @media(max-width:$sm) {
                    width: 50px;
                    height: 50px;
                    font-size: 20px;
                    margin: auto;
                }
            }

            h3 {
                margin: 18px 0;
                font-size: 36px;
                font-weight: 800;

                @media(max-width:$sm) {
                    margin: 14px 0;
                    font-size: 24px;
                }
            }

            p {
                color: $color_five;
                margin: 0;
            }
        }

    }
}