@use "../../styles/var" as *;
@use "../../styles/common" as *;



.banner {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(300deg, #FAF5FF, #FFFFFF, #FFF7ED);

    }

    .wrap {
        padding: 50px 0;
        position: relative;
        z-index: 1;



        .content {
            text-align: center;

            h1 {
                font-size: 60px;
                font-weight: 700;
                line-height: 60px;

                @media(max-width:$xl) {
                    font-size: 50px;
                    line-height: 50px;
                }

                @media(max-width:$lg) {
                    font-size: 40px;
                    line-height: 45px;
                }

                @media(max-width:$sm) {
                    font-size: 30px;
                    line-height: 35px;
                }

                span {
                    color: $primary;
                }
            }

            .desc {
                color: $color_five;
                margin: 30px 0;

                @media(max-width:$xl) {
                    margin: 20px 0;
                }

                @media(max-width:$md) {
                    margin: 10px 0;
                }
            }


        }
    }
}

.scandown {
    position: relative;


    .wrap {
        padding: 50px 0;
        position: relative;
        z-index: 1;



        @media(max-width:$sm) {
            padding: 30px 0;
        }

        .row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
            align-items: center;

            @media(max-width:$md) {
                grid-template-columns: 1fr;
                gap: 30px;
                text-align: center;
            }

            .image {
                padding: 50px;
                position: relative;

                @media(max-width:$sm) {
                    padding: 20px;
                }

                img {
                    width: 100%;
                    height: auto;
                    position: relative;
                    z-index: 1;
                    border-radius: 20px;
                }
            }
        }


        .content {

            h2 {
                font-size: 48px;
                font-weight: 700;

                line-height: 1.1;

                @media(max-width:$lg) {
                    font-size: 38px;
                }

                @media(max-width:$sm) {
                    font-size: 28px;
                }

                span {
                    color: $primary;
                }
            }

            .desc {
                color: $color_five;
                margin: 20px 0;

                @media(max-width:$md) {
                    margin: 10px 0;
                }
            }

        }
    }
}

.available {
    padding: 80px 0;
    background: linear-gradient(300deg, #FAF5FF, #FFFFFF, #FFF7ED);

    @media(max-width:$xl) {
        padding: 60px 0;
    }

    @media(max-width:$lg) {
        padding: 50px 0;
    }

    @media(max-width:$md) {
        padding: 40px 0;
    }

    @media(max-width:$sm) {
        padding: 30px 0;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 24px;

        .col {
            padding: 33px;
            background: #fff;
            border-radius: 16px;
            text-align: center;

            .icon {
                margin: auto;
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #ffd2bf;
                border-radius: 15px;

                svg {
                    color: #fff;
                    font-size: 30px;
                    color: $secondary;
                }
            }

            h3 {
                margin: 10px 0;
                font-size: 24px;
                font-weight: 700;
            }

            p {
                color: $color_five;
                margin: 0;
            }
        }

    }
}

.protect {
    padding: 70px 0;

    @media(max-width:$xl) {
        padding: 60px 0;
    }

    @media(max-width:$lg) {
        padding: 50px 0;
    }

    @media(max-width:$md) {
        padding: 40px 0;
    }

    @media(max-width:$sm) {
        padding: 30px 0;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 24px;

        .col {
            padding: 33px;
            background: $color_six;
            border-radius: 16px;

            @media(max-width:$sm) {
                text-align: center;
                padding: 25px;
            }

            .icon {
                background: linear-gradient(300deg, $primary, $color_three);
                border-radius: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 64px;
                height: 64px;
                color: #fff;
                font-size: 24px;
                box-shadow: 0 0 30px 0 #5315b644;

                @media(max-width:$sm) {
                    border-radius: 10px;
                    width: 50px;
                    height: 50px;
                    font-size: 20px;
                    margin: auto;
                }
            }

            h3 {
                margin: 18px 0;
                font-size: 24px;
                font-weight: 700;

                @media(max-width:$sm) {
                    margin: 14px 0;
                    font-size: 20px;
                }
            }

            p {
                color: $color_five;
                margin: 0;
            }
        }

    }
}